//Tipografia
$fuente_principal: 'Montserrat', sans-serif;

//Colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FFFF66;
$morado: #752F97;
$negro: #000000;
$blanco: #FEFEFE;
$verdeClaro: #00FF7F;


//Tamaños de pantalla:
$movil: 480px;
$tablet: 768px;
$desktop: 992px;